@import 'main_color';

header {
    background-color: $color-primary-0;
    padding: 20px;
    text-align: center; 
}

footer {
    background-color: $color-primary-3;
    padding: 20px;
    text-align: center;
}