@import 'main_color';

body {
    font-family: Arial, sans-serif;
    background-color: $color-primary-2;
    color: $color-primary-4;
}

main {
    padding: 20px;
    .posts-list {
        .post-item {
            padding: 10px;
            background-color: $color-primary-1;
            margin: 10px 0;
            border-radius: 8px;
            h2 {
                color: $color-primary-4;
            }
            p {
                color: black;
            }
            span {
                font-size: 12px;
                color: $color-primary-4;
            }
            a{
                color: $color-primary-4;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                  }
            }
        }
    }
}

